@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
} */

@theme {
  --height-header: 80px;
  --height-footer: 86px;
  --background-color-theme: #ededed;
  --color-theme: #0a0a0a;
  --color-theme-lighter: #637387;
  --border-color-theme: var(--background-color-theme);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background-color-theme);
  color:var(--color-theme);
  font-family: var(--font-newsreader), Arial, Helvetica, sans-serif;
}

@keyframes fadeInUp {
  from{
    opacity: 0;
  }
  to{
      opacity: 1;
  }
}

@keyframes skeleton {
  to{
      background-color: #ffffff;
  }
}
